
body{
	font-family: Georgia, serif;
	margin:0;
}

nav{
	display: none;
}

header {
	background-color: rgb(77,77,135);
	color: #FFF;
}
header h1{
	margin: 0;
}
.bothSections{
	flex-direction: column-reverse;
}

.sideTitle{
width: 90%;
margin: 0px 0px 40px 0px;

}

.sidecard img{
	width: 100%;

}


.otherTitle{
	width: 90%;
	margin: auto;
	text-align: center;
}

.otherCards{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: left;
}

.card{
	
}


.card{
	width: 90%;
	border: thin solid black;
	padding: 10px 10px 5px 10px;
	margin: 10px auto;
}

.card img{
	width:100%;
}

footer a{
	display: block;
}


.clear{
	clear: both;
}


