@font-face {
    font-family: vt323;
    src: url(VT323-Regular.ttf);
}
@font-face {
    font-family: silkscreen;
    src: url(slkscr.ttf);
}

body {  
    background-color: #B28D8D;
    font-family: vt323, sans-serif;
}

.encap{
    max-width: 1200px;
    margin: auto;   
}

.headgif{
    margin: auto;

}

.headgif img{
    max-width: 200px;
    height: auto;
}

.headgif2{
    width:230px;
    height:160px;
    margin-top: 20px;
}

.headgif2 img{
    max-width: 120px;
    height: auto;
    margin-left: 50px;
    margin-top: 70px;
}

.headaround{
    padding: 0px 0px 10px 0px;
    max-width: 1200px;
    width: 90%;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid black;
}


header h1{
    font-size: 50pt;
    margin: auto;
    width: 500px;
    height: 160px;
    text-align:center;
    font-family: silkscreen, sans-serif;
    background-color: #C84C0C;
    color: #F8BDAD;
    text-shadow: 3px 5px black;
    border: 5px solid black;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
}

.single{
    padding: 20px 0px 0px 0px;
    height: 60px;
}

nav a{

    font-size: 24pt;
    font-style: bold;
    display: block;
    text-wrap: wrap;
    text-align: center;
    width: 200px;
    height: 80px;
    background-color: #C84C0C;
    margin: 10px 10px 10px 10px;
    color: #F8BDAD;
    box-shadow: 3px 5px black;
    

}

nav a:hover{
    background-color: yellowgreen;
    color: black;
    box-shadow:none;
}

main{
    font-size: 20pt;
    font-style: bold;
    display: block;
    text-wrap: wrap;
    max-width: 600px;
    width: 80%;
    background-color: #C84C0C;
    margin: 20px auto;
    color: #F8BDAD;
    padding: 20px;
    box-shadow: 3px 5px black;
    border: 5px solid green;
}

table{
	background-color: black;
    color: black;
	margin: auto;
    text-wrap: wrap;
	line-height: 30px;
	font-size: 16pt;
}

caption{
	text-align: left;
	caption-side: bottom;
}

table th td, table tr td{
	width: 200px;
	height: 50px;
}

tfoot th, thead th{
	background-color: #428A3A;
    font-size: 18pt;
	color: #FFF;
	height: 50px;
}

tfoot td{
	background-color: white;
}


tbody tr:nth-child(odd) td{
	background-color:white;
}

tbody tr:nth-child(even) td{
	background-color:#7CDD72;
}

table, th, td{
	border: 1px solid black;
}

footer{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #6E3232;
    background-color: #BA6C6C;
    margin: 20px auto;
    width: 350px;
    padding: 10px 10px;
    text-align: center;


}

@media screen and (max-width: 1100px){
    nav{
        flex-direction: row;
		flex-wrap: wrap;
        max-width: 600px;
		line-height: 30px;
		display:flex;
		margin: auto;
	}

    .headgif{
        display:none;
    }
    
    .headgif img{
        display:none;
    }
    
    .headgif2{

        display:none;
    }
    
    .headgif2 img{

        display:none;
    }
}