
nav{
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-around;
}

table{
	background-color: green;
	margin: auto;
}

h1{
	margin: auto;
	text-align: center
}

tfoot th, thead th{
	background-color: blue;
	color: #FFF;
}

tfoot td{
	background-color: white;
}


tbody tr:nth-child(odd) td{
	background-color:cyan;
}

tbody tr:nth-child(even) td{
	background-color:navy;
	color: #FFF;
}

table, th, td{
	border: 1px solid black;
}